section {
  animation: section-fade-in 1.5s 0ms ease-in-out both;
}

.banner {
  animation: section-fade-in-movie 1.5s 0ms ease-in-out both;
  background-image: none;
}
.banner > .imgLogo {
  animation: section-fade-in 1.5s 0ms ease-in-out both;
}

@keyframes section-fade-in {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes section-fade-in-movie {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
* ::after, #studio h2::before, .sectionFestival::before, .site-footer::before {
  animation: spin 19s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title-story, .title-studio {
  display: inline-block;
  overflow: hidden;
  height: 60px;
  text-align: center;
  line-height: 100%;
}

.title-story, .studio1 {
  animation: scroll-title 500ms ease-in-out both;
}

.studio2 {
  animation: scroll-title 250ms 250ms ease-in-out both;
}

@keyframes scroll-title {
  0% {
    transform: translateY(80px);
    transform-origin: bottom;
  }
  100% {
    transform: translateY(0px);
    transform-origin: bottom;
  }
}
.observe-story, .observe-studio {
  top: -100px;
  position: relative;
  display: block;
}

.h2Contain {
  overflow: hidden;
  display: inline-block;
  height: 70px;
  margin-top: 10px;
}

.sectionFestival {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.sectionFestival h3 {
  background-image: url("../assets/images/backgroundh3.png");
  background-size: 100%;
  text-align: left;
  padding: 100px 84px;
}
.sectionFestival img {
  margin-top: 100px;
  height: 129px;
}
.sectionFestival::before {
  content: url("../assets/images/Sunflower.png");
  position: absolute;
  left: 10em;
  top: -3em;
}
.sectionFestival::after {
  content: url("../assets/images/orchid.png");
  position: absolute;
  right: -5em;
  bottom: 22em;
}

.site-footer::before, .site-footer::after {
  display: none;
}

.background-video {
  position: absolute;
  width: 100%;
  max-width: 1440px;
}

.banner {
  position: relative;
}
.banner img {
  animation: logo-move 20s 0s linear both infinite;
  position: fixed;
  display: block;
}

.story__article {
  margin-bottom: 2em;
  padding-bottom: 0px;
}

@keyframes logo-move {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in;
  }
  5% {
    transform: translate(10px, 10px);
    animation-timing-function: ease-in-out;
  }
  10% {
    transform: translate(25px, 5px);
  }
  15% {
    transform: translate(35px, -20px);
  }
  20% {
    transform: translate(15px, -40px);
  }
  25% {
    transform: translate(0px, -45px);
    animation-timing-function: ease-in-out;
  }
  30% {
    transform: translate(-20px, -30px);
  }
  35% {
    transform: translate(-10px, -10px);
  }
  40% {
    transform: translate(-5px, 10px);
  }
  45% {
    transform: translate(-20px, 20px);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translate(-40px, 10px);
  }
  55% {
    transform: translate(-40px, -20px);
  }
  60% {
    transform: translate(-10px, -30px);
    animation-timing-function: ease-in-out;
  }
  65% {
    transform: translate(20px, -25px);
  }
  70% {
    transform: translate(30px, -10px);
  }
  75% {
    transform: translate(30px, 10px);
  }
  80% {
    transform: translate(10px, 30px);
    animation-timing-function: ease-in-out;
  }
  85% {
    transform: translate(-10px, 40px);
  }
  90% {
    transform: translate(-30px, 30px);
  }
  95% {
    transform: translate(-25px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.story #characters {
  flex-direction: column;
  margin-right: 0;
}

.swiper-container {
  width: 1440px;
  height: 440px;
}

.swiper-slide figure {
  margin: 0;
}
.swiper-slide img {
  height: none;
  max-width: none;
}

.main-character h3 {
  background-position: left;
  text-align: left;
  padding-left: 50px;
}

.story #characters div {
  flex: none;
  flex-shrink: 0;
}

/*# sourceMappingURL=theme.css.map */
