section {
    animation: section-fade-in 1.5s 0ms ease-in-out both;
  }
  
  .banner {
    animation: section-fade-in-movie 1.5s 0ms ease-in-out both;
    background-image: none;
  
    & > img {
      animation: section-fade-in 1.5s 0ms ease-in-out both;
    }
  }
  
  @keyframes section-fade-in {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
  
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }
  
  @keyframes section-fade-in-movie {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
  
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }  
  
.background-video {
  position: absolute;
}