.title-story, .title-studio {
    animation: scroll-title 500ms ease-in-out both;
    display: inline-block;
}

@keyframes scroll-title {
	0% {
        transform: rotateX(100deg);
		transform-origin: bottom;
	}

	100% {
		transform: rotateX(0);
		transform-origin: bottom;
	}
}

.observe-story {
    top: -100px;
    position: relative;
}