@import "partials/section-fade-in.scss";
@import "partials/flower-rotate.scss";
@import "partials/title-scroll.scss";
@import "../section-oscars/section-festival.scss";
@import "partials/section-story.scss";

.story #characters {
    flex-direction: column;
}

.swiper {
    width: 100vw;
    height: 442px;
  }

.main-character {
    justify-content: flex-start;
    padding-left: 175px;
}

//@media only screen and (max-device-width: 1000px) {}